<% provide(:title, "About") %>
<h1>This is our about page.</h1>
<p>Apostell is a social network service that aims to make it easier sending stuff around, locally and worldwide.</p>

<p>Here you can post about something you're trying to send, somewhere you're flying to, or something you're meant to receive from somewhere but don't know how.</p>

<p>Friends you follow might be traveling towards your destination, just as you might be traveling and heading the way of your follower friends.</p>

<p>Apostell aims at making you find the person you need, at the right time.</p>

<p>All it takes is a sign up, find friends or people you might know, follow them to receive their posts on your feed, and sending your stuff around should be easier than ever before.</p>
