<% provide(:title, "About") %>
<h1>About us.</h1>
<p>Apostell is a social community that aims to facilitate goods shipping to family, friends or acquaintances all over the globe.</p>

<p>Use your page to post about an item you're trying to send or receive, its departure city and destination, and we'll make sure it gets to you.</p>

<p>From now on, shipping goods should be easier than ever before.</p>
