<% provide(:title, "About") %>
<h1>This is our about page.</h1>
<p>Apostell is a social network service that aims to make it easier sending stuff around, locally and worldwide.</p>

<p>Post about the book you're trying to send to your brother in Paris, your next flight to New York, or the shirt you're meant to receive from your mother in Cape Town.</p>

<p>Friends you follow might be traveling towards your destination, just as you might be traveling and heading the way of your follower friends.</p>

<p>Apostell aims at making you find the person you need, at the right time.</p>

<p>All it takes is a sign up, find friends or people you might know, follow them to receive their posts on your feed, and sending your stuff around should be easier than ever before.</p>
