<% provide(:title, "About") %>
<h1>This is our about page.</h1>
<p>Apostell is a service that aims to make it easier sending items across the world.</p>

<p>Post about the book you're trying to send to your brother in Paris, your next flight to New York, or the shirt you're meant to receive from your mother in Cape Town.</p>

<p>Friends you follow might be traveling towards your destination, just as you might be traveling towards your follower friends.</p>
