<% provide(:title, "Help") %>
<h1>How can we help.</h1>
<p>If you have any questions related to our community, feel free to write to us at jc@apostell.</p>

<p>We'll be glad to provide you with all the answers you need.</p>
