<h1>Apostell</h1>

<p>Hi <%= @user.name %>,</p>

<p>Welcome to Apostell!</p>

<p>Here you can post about something you're trying to send, somewhere you're flying to, or something you're meant to receive from somewhere but don't know how.</p>

<p>Friends you follow might be traveling towards your destination, just as you might be traveling and heading the way of your follower friends.</p>

<p>Click on the link below to activate your account:</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
                                                    
<p>Thank you for choosing Apostell.</p>

<p>Yours faithfully,</p>

<p>Your Apostell team</p>